.App {
  text-align: center;
  display: block;
  background-color: #13165A;
  color: white;
  width: 100vw;
  height: 100vh;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #13165A;
  overflow-x: hidden; /* prevent sideways scrolling */
}
